.footer {
  margin: auto;
  background-color: rgb(3, 57, 108);
  padding-left: 10vw;
  padding-top: 2vh;
}

ul {
  list-style: none;

}

.footer-style a {
  color: white;
  list-style: none;
  margin: 0.1rem;
}

.footer-style a:hover {
  color: white;
  margin: 0.1rem;
  cursor: pointer;

}

h3 {
  font-size: large;
  color: rgb(231, 225, 225);
}

.footer-bottom {
  color: rgb(231, 225, 225);
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
}