.footer-middle {
    background: #03396c;
    /* background: #000000; */
    padding-top: 1rem;
    color: rgb(231, 225, 225);

}

.footer-bottom {
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
}

ul li a {
    color: var(--mainGrey);
}

ul li a:hover {
    color: var(--mainLightGrey);
}