@import url('https://fonts.googleapis.com/css?family=Laila:700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.mainContent {
  min-height: 95vh;
  padding-top: 2%;
  text-align: center;
  background-color: #f9f7f6 ;
}

.main-image{
  width: 100%;
  height: 40%;
}
.main-image img {
  width: 100%;

}
.productContent{
  margin:auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content:space-around;
  justify-content: flex-start;
}
.itemText{
   width: 50%; 
   color: #303030;
   padding: 10px 0; 
   font-size: 1.2em;
  }